* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'cursed-timer';
  src: url('src/CursedTimerUlil-Aznm.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.number-box, .button-box > button {
  font-family: 'cursed-timer', sans-serif;
}

.container {
  border: 1px solid;
}
.title {
  border: 1px solid blue;
}
.number-box {
  font-size: 6rem;
  border: 1px solid red;
}
.button-box {
  border: 1px solid green;
}