* {
  box-sizing: border-box;
  font-size: 62,5%;
}

@font-face {
  font-family: 'cursed-timer';
  src: url('src/CursedTimerUlil-Aznm.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.number-box, .button-box-home > button, .button-box-guest > button {
  font-family: 'cursed-timer', sans-serif;
}

.container {
  background-color: rgb(20, 40, 65);
  display: flex;
  justify-content: space-around;
  
  padding: 4rem 3rem;
}
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2.1rem;
}
.number-box {
  text-align: center;
  padding: 2rem 2.8rem 2rem 1.8rem;
  font-size: 9rem;
  width: 15.5rem;
  height: 12rem;
  background-color: black;
  border-radius: 1rem;
  color: #F94F6D;
}
.button-box-home, .button-box-guest {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 2.6rem;
  
}
.button-box-home > button, .button-box-guest > button {

  
  text-align: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: rgb(160, 199, 236);
  background-color: rgb(20, 40, 65);
  border: none;
  border: 0.2rem solid; 



}